6#xcode specific
build/*
#ignore private workspace stuff added by Xcode4
xcuserdata
#ignore ios assets
ios/www/*
#ignore android assets
android/assets/www/*
# ignore android build
android/bin/*

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out